@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/*nav*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}
li {
    float: left;
}
li a {
    display: block; 
    font-size: 150%;
    color: white;
    text-align: center;
    padding: 0em 1em;
}

/*Content*/
h1{
    color: black;
}

.bingkai-foto{
    text-align: center;
}
.foto-profile {
    height: 7em;
    width: 7em;
    border-radius: 50%;
    margin-bottom: 1.25em;
}
.foto-link {
    height: 10em;
    width: 10em;
    border-radius: 50%;
    margin-bottom: 1.25em;
    border: 0.1em solid black;
}
.add-link {
    text-align: center;
}
.link-ci {
    text-align: center;
    padding-bottom: 0.5em;
}

.alert {
    text-align: center;
    position: relative;
    margin-top: 2em;
    padding-right: 5em;
    padding-left: 5em;
}
.link-result {
    padding-top: 2em;
    padding-left: 20%;
    padding-right: 20%;
}
#btn-edit {
    float: right;
    margin-right: 1em;
}

#btn-delete {
    float: right;
}
@media only screen and (max-width: 425px){

}

@media only screen and (max-width: 375px){

}

@media only screen and (max-width: 320px){

}